* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.slider-area {
  background-color: aquamarine;
  width: 800px;
  padding: 20px;
  margin: 20px auto;
}

.slider-area .swiper-slide {
  position: relative;
}

.slider-area .swiper-slide h2 {
  position: absolute;
  content: "";
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


progress .swiper-slide img {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}